/build
src/main/assets/crashlytics-build.properties
src/main/res/values/com_crashlytics_export_strings.xml
src/main/res/values/api-keys.xml
src/main/res/values/secrets.xml
crashlytics.properties

*.iml