<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
    "http://checkstyle.sourceforge.net/dtds/configuration_1_3.dtd">

<module name="Checker">
    <module name="FileTabCharacter" />

    <module name="TreeWalker">
        <!-- Imports -->
        <module name="RedundantImport" />
        <module name="UnusedImports" />
        <module name="AvoidStarImport" />

        <!-- General Code -->
        <module name="EmptyBlock" />
        <module name="EmptyCatchBlock" />
        <module name="EqualsAvoidNull" />
        <module name="StringLiteralEquality" />
        <module name="CovariantEquals" />
        <module name="DefaultComesLast" />
        <module name="DeclarationOrder" />
        <module name="ExplicitInitialization" />
        <module name="FallThrough" />
        <module name="IllegalInstantiation" />
        <module name="InnerAssignment" />
        <module name="MissingSwitchDefault" />
        <module name="SimplifyBooleanExpression" />
        <module name="SimplifyBooleanReturn" />
        <module name="StringLiteralEquality" />
        <module name="SuperClone" />
        <module name="SuperFinalize" />

        <!-- Naming -->
        <module name="PackageName">
            <property name="format" value="^[a-z]+(\.[a-z][a-z0-9]*)*$" />
        </module>
        <module name="TypeNameCheck">
            <property name="format" value="^[A-Z][a-zA-Z0-9]*$" />
            <property name="tokens" value="CLASS_DEF,INTERFACE_DEF" />
        </module>
        <module name="ConstantNameCheck">
            <property name="format" value="^[A-Z][A-Z0-9]*(_[A-Z0-9]+)*$" />
            <property name="applyToPublic" value="true" />
            <property name="applyToProtected" value="true" />
            <property name="applyToPackage" value="true" />
            <property name="applyToPrivate" value="true" />
        </module>
        <module name="StaticVariableNameCheck">
            <property name="format" value="^[a-z][a-zA-Z0-9]*$" />
            <property name="applyToPublic" value="true" />
            <property name="applyToProtected" value="true" />
            <property name="applyToPackage" value="true" />
            <property name="applyToPrivate" value="true" />
        </module>
        <module name="MemberNameCheck">
            <property name="format" value="^[a-z][a-zA-Z0-9]*$" />
            <property name="applyToPublic" value="true" />
            <property name="applyToProtected" value="true" />
            <property name="applyToPackage" value="true" />
            <property name="applyToPrivate" value="true" />
        </module>
        <module name="MethodNameCheck">
            <property name="format" value="^[a-z][a-zA-Z0-9]*$" />
        </module>
        <module name="ParameterNameCheck">
            <property name="format" value="^[a-z][a-zA-Z0-9]*$" />
        </module>
<!--        <module name="LocalVariableNameCheck">-->
<!--            <property name="format" value="^[a-z][a-zA-Z0-9]*$" />-->
<!--            <property name="tokens" value="VARIABLE_DEF,PARAMETER_DEF" />-->
<!--        </module>-->

        <!-- Whitespace -->
        <module name="GenericWhitespace" />
        <module name="EmptyForInitializerPad" />
        <module name="EmptyForIteratorPad" />
        <module name="MethodParamPad" />
        <module name="NoWhitespaceAfter" />
        <module name="NoWhitespaceBefore" />
        <module name="OperatorWrap" />
        <module name="ParenPad" />
        <module name="TypecastParenPad" />
        <module name="WhitespaceAfter" />
        <module name="WhitespaceAround" />

        <!-- Modifiers -->
        <module name="ModifierOrder" />
        <module name="RedundantModifier" />

        <!-- Block Checks -->
        <module name="EmptyLineSeparator">
            <property name="tokens" value="IMPORT, CLASS_DEF, INTERFACE_DEF, ENUM_DEF, INSTANCE_INIT, STATIC_INIT, CTOR_DEF, VARIABLE_DEF, METHOD_DEF" />
        </module>
        <module name="LeftCurly" />
        <module name="RightCurly" />
        <module name="NeedBraces" />
        <module name="AvoidNestedBlocks" />

        <!-- Misc -->
        <module name="ArrayTypeStyle" />
        <module name="FinalParameters" />
        <module name="TodoComment" />
        <module name="UpperEll" />

        <!-- Android -->
        <module name="OuterTypeFilename" />
    </module>
</module>